{% extends "base.html" %}

{% block content %}
<section class="experiences container mt-5">
  <h2 class="text-center mb-4"><strong>Professional Experiences</strong></h2>

  <div class="row">
    {% for experience in experiences %}
    <div class="col-md-4 mb-4">
      <!-- Experience Card -->
      <div class="card shadow-sm h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ experience.position }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ experience.company }}</h6>

          <!-- Truncated Experience Description -->
          <p class="card-text" id="description_{{ experience.experience_id }}">
            {{ experience.description | truncate(100) }}
            <span id="show-more-{{ experience.experience_id }}" class="text-primary show-more" style="cursor: pointer;"> Show More</span>
          </p>

          <!-- Full Experience Description (Initially Hidden) -->
          <p class="full-description" id="full-desc-{{ experience.experience_id }}" style="display: none;">
            {{ experience.description }}
          </p>

          <!-- Duration -->
          <p class="card-text">
            <strong>Duration: </strong>
            {{ experience.start_date.strftime('%Y-%m') }} to
            {{ experience.end_date.strftime('%Y-%m') if experience.end_date else 'Present' }}
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}