{% extends "base.html" %}

{% block content %}
<section class="change-password container mt-5">
  <h2 class="text-center mb-4"><strong>Change Password</strong></h2>

  <!-- Change Password Form -->
  <div class="d-flex justify-content-center">
    <form method="POST" class="w-50"> <!-- Adjust width to match user profile form -->
      <div class="form-group">
        <label for="current_password">Current Password</label>
        <input type="password" class="form-control" id="current_password" name="current_password" required>
      </div>

      <div class="form-group">
        <label for="new_password">New Password</label>
        <input type="password" class="form-control" id="new_password" name="new_password" required>
      </div>

      <div class="form-group">
        <label for="confirm_password">Confirm New Password</label>
        <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
      </div>

      <button type="submit" class="btn btn-primary w-100">Change Password</button> <!-- Full width for button -->
    </form>
  </div>
</section>
{% endblock %}